<mat-card>
  <mat-card-title>
    Simple dynamic component
  </mat-card-title>
  <mat-card-content>
    <app-preview-simple></app-preview-simple>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>
    Dynamic component in body
  </mat-card-title>
  <mat-card-content>
    <app-preview-body></app-preview-body>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>
    Dynamic component with injector
  </mat-card-title>
  <mat-card-content>
    <app-preview-injector></app-preview-injector>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>
    Content Projection
  </mat-card-title>
  <mat-card-content>
    <app-preview-projection></app-preview-projection>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>
    Lazy and Sync module compilation
  </mat-card-title>
  <mat-card-content>
    <app-preview-compiler></app-preview-compiler>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>
    Component on the fly
  </mat-card-title>
  <mat-card-content>
    <app-preview-on-the-fly></app-preview-on-the-fly>
  </mat-card-content>
</mat-card>
